.git
.github
.cursor
**/.env
**/.env.*
!**/.env.example
!**/.env.docker.example
**/node_modules
**/vendor
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*
frontend/dist
*.md
!backend/README.md
terminals
assets
